#cube .equipment  { 
    transform-origin: 50vw 0vh 50vw; 
    backface-visibility: hidden;
    background-color: blue;
    position: relative;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

  .equipmentBorder {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .equipmentGrid {
    position: absolute;
    top: 15vh;
    left: 4.5vw;
    right: 4vw;
    z-index: 2;
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-column-gap: 0vw;
    grid-row-gap: 2vh;
  }

  .equipmentInset {
    position: absolute;
    z-index: 1;
    top: 13vh;
    right: 3vw;
    height: 80vh;
    width: 78vw;
    background-color: black;
    border-radius: 15px;
  }
   
  .horizontalBar {
    position: absolute;
    height: 10vh;
    width: 35vw;
    background-color: blue;
    border-radius: 35px;
  }

  .bar1 {
    top: 5.5vh;
    right: 4vw;
  }
  
  .bar2 {
    top: 26vh;
    right: 4vw;
  }

  .bar3 {
    top: 45vh;
    right: 4vw;
  }

  .bar4 {
    top: 65vh;
    right: 4vw;
  }

  .linkEquipped {
    background: yellow;
    grid-row-end: span 4;
    margin: 0vh 2.5vw;
    width: 35vw;
  }
  
  .equipmentItem {
    background-color: red;
    display: inline-block;
    height: 18vh;
    width: 11vw;
    position: relative;
    padding: 1vh 1vw;
  }
  
  .equipmentItem img {
    width: 100%;
  }
/*   
  .equipmentItem::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    
  }
   */